
.container {
width:  1280px;
margin: 0 auto;
}


body {
  font-family: sans-serif;
}

.top-menu {
  background-color: #35444f;
  margin-bottom: 40px;
}

.top-menu__link {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 50px;
 
  margin-block: 40px;
  text-align: left;
}

.primary-color {
  color: #4acaff;
}


.menu-list {
  display: flex;
  justify-content: center;
  /* list-style-type: none; */
}

.list-item>a {
  color: white;
}

.list-item {
  border: 1px solid white;
  padding: 22px 32px;
}

.list-item:hover {
 background-color: #222f3a;
}

main {
  display: flex;
  align-items: flex-start;
  gap: 45px;
}



.menu-aside {
  display: flex;
  flex-direction: column;
  /* align-self: flex-start; */
  
  border: 1px solid #35444f;
  opacity: 0.5;
}

.aside-list {
  width: 344px;
}

.aside-list-item {
  padding: 20px 30px;
}

.aside-list-item:hover {
  background-color: grey;
  padding: 20px 50px;
}

.aside-list-item-link {
  color: black;
}

.general-info {
  display: flex;
  flex-direction: column;
}


.Lorem-info {
  /* display: flex; */
  margin-top: 40px;
  
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.Lorem-info-continue {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer {
  display: flex;
  background-color: #b4b7b9;
  justify-content: space-between;
  padding-inline: 30px;
  height: 70px;
  align-items: center;
  text-align: center;
}

.footer-list {
  display: flex;
  gap: 30px;

  font-size: 22px;
  align-items: center;
  text-align: center;
  
}

.footer-item {
  padding-block: 20px;
}

.footer-item:hover {
 border-bottom: 1px solid #4acaff;
 color: #4acaff;

}

.rights {
  font-size: 18px; 
}
